PORT=3010
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public
JWT_SECRET=ganti-dengan-secret-acak
JWT_REFRESH=ganti-dengan-secret-refresh-acak
REDIS_URL=redis://:PASSWORD@127.0.0.1:6379
